<%= form_for :filters, method: "get" do |form| %>
  <% fields.each do |field| %>
    <div class="form-group">
      <%= form.label field[:name] %>
      <% if field[:type] == :text || !field[:type] %>
        <%= form.text_field field[:name], class: 'form-control' %>
      <% elsif field[:type] == :date %>
        <% date = @filters[field[:name]].present? ? Date.parse(@filters[field[:name]]) : nil %>
        <%= form.date_field field[:name], value: date, class: 'form-control' %>
      <% elsif field[:type] == :datetime %>
        <%= form.datetime_select field[:name], {:include_blank => true, :default => nil} %>
      <% elsif field[:type] == :category %>
        <%= form.collection_select field[:name], Category.all, :id, :name, {include_blank: true}, {class: 'form-control'} %>
      <% end %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit 'Filter', class: "btn btn-primary" %>
  </div>
<% end %>
